# Discard binary files
obj/
bin/
*.swp
*/a.out

# Discard separate files
assets/fonts/
assets/midi/

# Emacs/test/OS files/folders
.DS_Store
.#*
*.afphoto
localtests/

# Development-related folders
GPATH
GRTAGS
GTAGS
