# Discard binary files
a.out
*.swp
obj/
bin/

# Discard separate files
assets/fonts/
assets/midi/

# Emacs/test/OS files/folders
.DS_Store
.#*
localtests/

# Development-related folders
GPATH
GRTAGS
GTAGS
